---
---

!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge' }
    %title {% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}
    {% if page.description %}
    %meta{ :name => 'description', :content => '{{ page.description }}' }
    {% endif %}
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
    %meta{ :property => 'og:title', :content => '{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}' }
    %meta{ :property => 'og:description', :content => '{{ page.description }}' }
    {% stylesheet app %}
  %body
    {% include_haml header.haml %}
    {{ content }}
    {% javascript app %}
